a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: gray;
}

.footer a {
  color: gray;
}

.el-pagination {
  justify-content: flex-end;
}